<style media="screen">

      #common,#common_price{
        border-radius: 10px;
        cursor:text;
        font-size: 16px;
        width: 80%;
        //border: 2px solid grey;
      }
      #common_price{
        width: 40%;
        float: left;
      }

      @media only screen and (max-width: 600px){
      #common{
        border-radius: 10px;
        cursor:text;
        font-size: 16px;
        width:100%;

      }
      #common_price{
        width:50%;
      }

      }

    </style>
{{> messages }}
<div class="dashboard-container">
  <div class="sidebar-admin">
    <span id='admin-bar-close' class="fa fa-times pull-right" ></span>
    <div class="sidebar-items">
      <ul>
        <li> <a href="./requests">Requests  <span class="pull-right">5</span></a></li>
        <li class="active-admin-nav"> <a href="./post-property">Post Property  </a></li>
        <li> <a href="./post-land">Post Land  </a></li>
        <li> <a href="./allagents">Agents<span class="pull-right">5</span></a></li>
        <li> <a href="./prop-info">Properties Info<span class="pull-right">5</span></a></li>
        <li> <a href="./land-info">Lands Info<span class="pull-right">5</span></a></li>
        <li> <a href="./settings">Settings</a></li>

      </ul>
    </div>
  </div>
  <div class="dashboard-content pull-right">
      <div class="tab-pane fade in active" id="home-pills">
   <h4>POST PROPERTY</h4>
   <div class="alert alert-danger " style="display:none" id="error_ms" role="alert"></div>
   <form class="post-prop-form" id="post-property" action="/agent/property" method="post" enctype="multipart/form-data">
     <div class="form-g">
       <label for="title">Property Title</label><br>
       <input  type="text" id="common" name="property_title" placeholder="Title" value="" class="form-control" required ><br>
     </div>
     <div class="form-g">
       <label for="details">Property Details</label><br>
       <textarea name="property_details" class="form-control" id="common" rows="5" placeholder="Details" cols="50" required></textarea>
     </div>
     <div class="form-g">
       <label for="Features">Property Features</label>
       <span style="color:green;font-weight:700;font-size:12px">[Please separate each feasures bith cumma example(pool,lawn,toilet,mordern toilet]</span>
           <input  type="text"  name="property_features" id="common" class="form-control required" placeholder="Features">
      </div>
         <div id="common" class="epl-search-row epl-search-row-select epl-property_bedrooms_max fm-block epl-search-row-half">
           <label for="property_bedrooms_max" class="epl-search-label fm-label">Property Location</label>
           <div class="field">
             <select name="property_location" required  class="form-control in-field field-width">
               <option value="" >Choose Property Lacation</option>
               {{> states }}
             </select>
           </div>
         </div>
         <br><br>
         <div class="form-g">
           <label for="location">Property Address</label><br>
           <input type="text" class="form-control" required name="property_address" placeholder="Address" id="common" rows="8" cols="80">
         </div>
         <input class="common form-control" type="hidden" id="common" name="property_agent_id"  value="{{agent.id}}">
         <div id="common" class="epl-search-row epl-search-row-select epl-property_bedrooms_max fm-block epl-search-row-half">
           <label for="property_bedrooms_max" class="epl-search-label fm-label">Select Category</label>
           <div class="field">
             <select name="property_category" required  class="form-control in-field field-width">
               <option value="" class="disabled">Choose Category</option>
               <option value="self contain">Self Contain</option>
               <option value="Flat">Flat</option>one-room-apartment
               <option value="Hall">Hall</option>
               <option value="one-room-apartment">One Room Apartment</option>
               <option value="two-room-apartment">Two Room Apartment</option>
               <option value="three-room-apartment">Three Room Apartment</option>
               <option value="shops">Shops</option>
             </select>
           </div>
         </div><br><br>
         <div class="form-g">
           <label for="price">Property price </label><br>
           <input class="common form-control" type="number" required id="common_price" placeholder="Price" name="property_price" value="">
         </div>
         <div id="common_price" class="epl-search-row epl-search-row-select epl-property_bedrooms_max fm-block epl-search-row-half">
           <div class="field">
             <select name="property_duration" required  class="form-control in-field field-width">
               <option value="" class="disabled">Choose duration</option>
               <option value="Month">Per Month</option>
               <option value="Year">Per Year</option>
               <option value="sale">For Sale</option>
             </select>
           </div>
         </div>
         <br>
         <br>
         <div class="form-g"><br>
           <label for="price">Special rating</label><br>
           <input class="common form-control" type="number" placeholder="Special rating" id="common" required name="special_rate" value="">
         </div>
         <input type="hidden" name="special_product" value="true">
         <br>
         <div class="container-drop">
           <div class="row img-field drop-clone">
             <label for="price">Please upload at list one image</label><br>
             <div class="col-lg-4">
               <input  type="file" name="property_images" class="property_image required" value="">
             </div>
             <div class="col-lg-4">
               <input type="file" name="property_images" class="property_image" value="">
             </div>
             <div class="col-lg-4">
               <input type="file" name="property_images" class="property_image" value="">
             </div>
           </div>

         </div>
         <br>
         <div class="center" style="width:70%;">
           <button  type="submit" name="submit-all" id="post-prop-sub">POST<span class="fa fa-send"></span></button>
         </div>
       </form>
    </div>
  </div>

</div>
<div class="overlay"></div>
