{{> messages }}
<div class="dashboard-container">
  <div class="sidebar-admin">
    <span id='admin-bar-close' class="fa fa-times pull-right" ></span>
    <div class="sidebar-items">
      <ul>
        <li> <a href="./requests">Requests  <span class="pull-right">5</span></a></li>
        <li> <a href="./post-property">Post Property  </a></li>
        <li> <a href="./post-land">Post Land  </a></li>
        <li> <a href="./allagents">Agents<span class="pull-right">5</span></a></li>
        <li> <a href="./prop-info">Properties Info<span class="pull-right">5</span></a></li>
        <li> <a href="./land-info">Lands Info<span class="pull-right">5</span></a></li>
        <li class="active-admin-nav"> <a  href="./settings">Settings</a></li>

      </ul>
    </div>
  </div>
  <div class="dashboard-content pull-right">
      setttings
  </div>

</div>
<div class="overlay"></div>
