<div class="xt-page-title-area">
<div class="xt-page-title">
<div class="container">
<h1 class="entry-title">Simple Listing</h1>
</div>
</div>
<div class="xt-breadcrumb-wrapper">
<div class="container">
<nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><div class="xt-breadcrumb"><ul class="trail-items" itemscope itemtype="http://schema.org/BreadcrumbList"><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="trail-item trail-begin"><a href="../index.html" rel="home"><span itemprop="name">Home</span></a><meta itemprop="position" content="1" /></li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="trail-item trail-end"><span itemprop="name">Simple Listing</span><meta itemprop="position" content="2" /></li></ul></div></nav> </div>
</div>
</div>
<div id="content" class="site-content container">
<div class="appulse-main-content-inner row">
<div id="primary" class="content-area col-md-9 col-md-push-3">
<main id="main" class="site-main" role="main">
<article id="post-434" class="post-434 page type-page status-publish hentry no-feature-image">
<div class="entry-content">
<div class="kc_clfw"></div><section class="kc-elm kc-css-21269 kc_row xt_kc_row_has_container xt_kc_row_has_padding"><div class="xt-kc-row-container  container"><div class="kc-wrap-columns clearfix"><div class="kc-elm kc-css-555648 kc_col-sm-12 kc_column kc_col-sm-12"><div class="kc-col-container"> <div class="loop epl-shortcode">
<div class="loop-content epl-shortcode-listing epl-template-blog">
<div class="row xt-epl-list-row"><div class="epl-archive-utility-wrapper epl-clearfix"> <div class="epl-switching-sorting-wrap epl-clearfix">
<div class="title-listing">
<h2>
Property Listing </h2>
</div> <div class="epl-switch-view epl-clearfix">
<ul class="xt-grid-list-switch">
<li title="List" class="epl-current-view view-list" data-view="list"><i class="icon-list"></i></li>
<li title="Grid" class="view-grid" data-view="grid"><i class="icon-grid"></i></li>
</ul>
</div> <div class="epl-properties-sorting epl-clearfix">
<select id="epl-sort-listings">
<option selected='selected' value="">Sort</option>
<option value="high">
Price: High to Low </option> <option value="low">
Price: Low to High </option> <option value="new">
Date: Newest First </option> <option value="old">
Date: Oldest First </option> <option value="status_asc">
Status : Current First </option> <option value="status_desc">
Status : Sold/Leased First </option> <option value="location_asc">
Suburb A-Z </option> <option value="location_desc">
Suburb Z-A </option> </select>
</div>
</div>
</div>
<div id="post-130" class="epl-listing-post epl-property-blog epl-clearfix col-md-6 post-130 property type-property status-publish has-post-thumbnail hentry location-commercial-properties epl-status-current">
<div class="epl-property-blog-entry-wrapper epl-clearfix">
<div class="property-box property-box-left property-featured-image-wrapper">
<span class="label-featured">Featured</span><ul class="actions"><li><span class="add-fav"><a href="../property/northwave-ec/index.html?action=process_simple_like&amp;post_id=130&amp;nonce=fa4a051647&amp;is_comment=0&amp;disabled=true" class="add-fav-button add-fav-button-130" data-nonce="fa4a051647" data-post-id="130" data-iscomment="0" title="Add to Favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></a></span></li></ul> <div class="epl-archive-entry-image">
<a href="../property/northwave-ec/index.html">
<div class="epl-blog-image">
<div class="epl-stickers-wrapper">
</div>
<img width="600" height="450" src="../wp-content/uploads/2017/09/six-600x450.jpg" class="teaser-left-thumb wp-post-image" alt="" srcset="http://appulse.wpbranch.com/wp-content/uploads/2017/09/six-600x450.jpg 600w, http://appulse.wpbranch.com/wp-content/uploads/2017/09/six-640x480.jpg 640w" sizes="(max-width: 600px) 100vw, 600px" /> </div>
</a>
</div>

</div>
<div class="property-box property-box-right property-content">

<h3 class="entry-title"><a href="../property/northwave-ec/index.html">Charming West Beautiful Villa</a></h3>

<div class="property-address">
<a href="../property/northwave-ec/index.html">
<div class="adderess"><i class="icon-location-pin"></i> 215, Terry Lane, NEW YORK, California, 10001, USA</div>
</a>
</div>
<div class="entry-content">
<div class="epl-excerpt-content"><p>Lorem Ipsum is simply dummy text of the printing and typesetting&#8230;</p>
</div> </div>

<div class="property-feature-icons">
<span title="Bedrooms" class="icon beds"><span class="icon-value">4</span></span><span title="Bathrooms" class="icon bath"><span class="icon-value">2</span></span><span title="Parking Spaces" class="icon parking"><span class="icon-value">6</span></span><span title="Air Conditioning" class="icon air"></span><span title="Pool" class="icon pool"></span> </div>

<div class="price">
<span class="page-price">$5.550/sq ft</span> </div>
</div>
<div class="xt-epl-price-details"><span class="page-price">$5.550/sq ft</span><a class="btn btn-common xt-epl-details-list" href="../property/northwave-ec/index.html">Details</a></div> </div>
</div>
<div id="post-129" class="epl-listing-post epl-property-blog epl-clearfix col-md-6 post-129 property type-property status-publish has-post-thumbnail hentry location-residential-properties epl-status-current">
<div class="epl-property-blog-entry-wrapper epl-clearfix">
<div class="property-box property-box-left property-featured-image-wrapper">
<ul class="actions"><li><span class="add-fav"><a href="../property/24one-residences/index.html?action=process_simple_like&amp;post_id=129&amp;nonce=fa4a051647&amp;is_comment=0&amp;disabled=true" class="add-fav-button add-fav-button-129" data-nonce="fa4a051647" data-post-id="129" data-iscomment="0" title="Add to Favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></a></span></li></ul> <div class="epl-archive-entry-image">
<a href="../property/24one-residences/index.html">
<div class="epl-blog-image">
<div class="epl-stickers-wrapper">
</div>
<img width="600" height="450" src="../wp-content/uploads/2017/09/five-600x450.jpg" class="teaser-left-thumb wp-post-image" alt="" srcset="http://appulse.wpbranch.com/wp-content/uploads/2017/09/five-600x450.jpg 600w, http://appulse.wpbranch.com/wp-content/uploads/2017/09/five-640x480.jpg 640w" sizes="(max-width: 600px) 100vw, 600px" /> </div>
</a>
</div>

</div>
<div class="property-box property-box-right property-content">

<h3 class="entry-title"><a href="../property/24one-residences/index.html">Charming West Beautiful Villa</a></h3>

<div class="property-address">
<a href="../property/24one-residences/index.html">
<div class="adderess"><i class="icon-location-pin"></i> 935, Abia Martin Drive, New York, Alabama , 10011, USA</div>
</a>
</div>
<div class="entry-content">
<div class="epl-excerpt-content"><p>Lorem Ipsum is simply dummy text of the printing and typesetting&#8230;</p>
</div> </div>

<div class="property-feature-icons">
<span title="Bedrooms" class="icon beds"><span class="icon-value">4</span></span><span title="Bathrooms" class="icon bath"><span class="icon-value">2</span></span><span title="Parking Spaces" class="icon parking"><span class="icon-value">6</span></span><span title="Air Conditioning" class="icon air"></span><span title="Pool" class="icon pool"></span> </div>

<div class="price">
<span class="page-price">$5.550/sq ft</span> </div>
</div>
<div class="xt-epl-price-details"><span class="page-price">$5.550/sq ft</span><a class="btn btn-common xt-epl-details-list" href="../property/24one-residences/index.html">Details</a></div> </div>
</div>
<div id="post-128" class="epl-listing-post epl-property-blog epl-clearfix col-md-6 post-128 property type-property status-publish has-post-thumbnail hentry location-residential-properties location-vacant-land epl-status-current">
<div class="epl-property-blog-entry-wrapper epl-clearfix">
<div class="property-box property-box-left property-featured-image-wrapper">
<ul class="actions"><li><span class="add-fav"><a href="../property/kandis-residence/index.html?action=process_simple_like&amp;post_id=128&amp;nonce=fa4a051647&amp;is_comment=0&amp;disabled=true" class="add-fav-button add-fav-button-128" data-nonce="fa4a051647" data-post-id="128" data-iscomment="0" title="Add to Favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></a></span></li></ul> <div class="epl-archive-entry-image">
<a href="../property/kandis-residence/index.html">
<div class="epl-blog-image">
<div class="epl-stickers-wrapper">
</div>
<img width="600" height="450" src="../wp-content/uploads/2017/09/four-600x450.jpg" class="teaser-left-thumb wp-post-image" alt="" srcset="http://appulse.wpbranch.com/wp-content/uploads/2017/09/four-600x450.jpg 600w, http://appulse.wpbranch.com/wp-content/uploads/2017/09/four-640x480.jpg 640w" sizes="(max-width: 600px) 100vw, 600px" /> </div>
</a>
</div>

</div>
<div class="property-box property-box-right property-content">

<h3 class="entry-title"><a href="../property/kandis-residence/index.html">Charming West Beautiful Villa</a></h3>

<div class="property-address">
<a href="../property/kandis-residence/index.html">
<div class="adderess"><i class="icon-location-pin"></i> 3336, Rosewood Lane, New York, New York, 10014, USA</div>
</a>
</div>
<div class="entry-content">
<div class="epl-excerpt-content"><p>Lorem Ipsum is simply dummy text of the printing and typesetting&#8230;</p>
</div> </div>

<div class="property-feature-icons">
<span title="Bedrooms" class="icon beds"><span class="icon-value">4</span></span><span title="Bathrooms" class="icon bath"><span class="icon-value">2</span></span><span title="Parking Spaces" class="icon parking"><span class="icon-value">6</span></span><span title="Air Conditioning" class="icon air"></span><span title="Pool" class="icon pool"></span> </div>

<div class="price">
<span class="page-price">$5.550/sq ft</span> </div>
</div>
<div class="xt-epl-price-details"><span class="page-price">$5.550/sq ft</span><a class="btn btn-common xt-epl-details-list" href="../property/kandis-residence/index.html">Details</a></div> </div>
</div>
<div id="post-127" class="epl-listing-post epl-property-blog epl-clearfix col-md-6 post-127 property type-property status-publish has-post-thumbnail hentry location-residential-properties epl-status-current">
<div class="epl-property-blog-entry-wrapper epl-clearfix">
<div class="property-box property-box-left property-featured-image-wrapper">
<ul class="actions"><li><span class="add-fav"><a href="../property/park-place-residences-plq/index.html?action=process_simple_like&amp;post_id=127&amp;nonce=fa4a051647&amp;is_comment=0&amp;disabled=true" class="add-fav-button add-fav-button-127" data-nonce="fa4a051647" data-post-id="127" data-iscomment="0" title="Add to Favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></a></span></li></ul> <div class="epl-archive-entry-image">
<a href="../property/park-place-residences-plq/index.html">
<div class="epl-blog-image">
<div class="epl-stickers-wrapper">
</div>
<img width="600" height="450" src="../wp-content/uploads/2017/09/three-600x450.jpg" class="teaser-left-thumb wp-post-image" alt="" srcset="http://appulse.wpbranch.com/wp-content/uploads/2017/09/three-600x450.jpg 600w, http://appulse.wpbranch.com/wp-content/uploads/2017/09/three-640x480.jpg 640w" sizes="(max-width: 600px) 100vw, 600px" /> </div>
</a>
</div>

</div>
<div class="property-box property-box-right property-content">

<h3 class="entry-title"><a href="../property/park-place-residences-plq/index.html">Charming West Beautiful Villa</a></h3>

<div class="property-address">
<a href="../property/park-place-residences-plq/index.html">
<div class="adderess"><i class="icon-location-pin"></i> 3303, Geneva Street, New York, Florida, 10031, USA</div>
</a>
</div>
<div class="entry-content">
<div class="epl-excerpt-content"><p>Lorem Ipsum is simply dummy text of the printing and typesetting&#8230;</p>
</div> </div>

<div class="property-feature-icons">
<span title="Bedrooms" class="icon beds"><span class="icon-value">4</span></span><span title="Bathrooms" class="icon bath"><span class="icon-value">2</span></span><span title="Parking Spaces" class="icon parking"><span class="icon-value">6</span></span><span title="Air Conditioning" class="icon air"></span><span title="Pool" class="icon pool"></span> </div>

<div class="price">
<span class="page-price">$5.550/sq ft</span> </div>
</div>
<div class="xt-epl-price-details"><span class="page-price">$5.550/sq ft</span><a class="btn btn-common xt-epl-details-list" href="../property/park-place-residences-plq/index.html">Details</a></div> </div>
</div>
<div id="post-126" class="epl-listing-post epl-property-blog epl-clearfix col-md-6 post-126 property type-property status-publish has-post-thumbnail hentry location-commercial-properties epl-status-current">
<div class="epl-property-blog-entry-wrapper epl-clearfix">
<div class="property-box property-box-left property-featured-image-wrapper">
<ul class="actions"><li><span class="add-fav"><a href="../property/the-morris-residences-review/index.html?action=process_simple_like&amp;post_id=126&amp;nonce=fa4a051647&amp;is_comment=0&amp;disabled=true" class="add-fav-button add-fav-button-126" data-nonce="fa4a051647" data-post-id="126" data-iscomment="0" title="Add to Favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></a></span></li></ul> <div class="epl-archive-entry-image">
<a href="../property/the-morris-residences-review/index.html">
<div class="epl-blog-image">
<div class="epl-stickers-wrapper">
</div>
<img width="600" height="450" src="../wp-content/uploads/2017/09/two-600x450.jpg" class="teaser-left-thumb wp-post-image" alt="" srcset="http://appulse.wpbranch.com/wp-content/uploads/2017/09/two-600x450.jpg 600w, http://appulse.wpbranch.com/wp-content/uploads/2017/09/two-640x480.jpg 640w" sizes="(max-width: 600px) 100vw, 600px" /> </div>
</a>
</div>

</div>
<div class="property-box property-box-right property-content">

<h3 class="entry-title"><a href="../property/the-morris-residences-review/index.html">Charming West Beautiful Villa</a></h3>

<div class="property-address">
<a href="../property/the-morris-residences-review/index.html">
<div class="adderess"><i class="icon-location-pin"></i> 290, Monticello , New York, Georgia, 12701, USA</div>
</a>
</div>
<div class="entry-content">
<div class="epl-excerpt-content"><p>Imran Lorem Ipsum is simply dummy text of the printing and&#8230;</p>
</div> </div>

<div class="property-feature-icons">
<span title="Bedrooms" class="icon beds"><span class="icon-value">4</span></span><span title="Bathrooms" class="icon bath"><span class="icon-value">2</span></span><span title="Parking Spaces" class="icon parking"><span class="icon-value">6</span></span><span title="Air Conditioning" class="icon air"></span><span title="Pool" class="icon pool"></span> </div>

<div class="price">
<span class="page-price">$5.550/sq ft</span> </div>
</div>
<div class="xt-epl-price-details"><span class="page-price">$5.550/sq ft</span><a class="btn btn-common xt-epl-details-list" href="../property/the-morris-residences-review/index.html">Details</a></div> </div>
</div>
<div id="post-117" class="epl-listing-post epl-property-blog epl-clearfix col-md-6 post-117 property type-property status-publish has-post-thumbnail hentry location-residential-properties epl-status-current">
<div class="epl-property-blog-entry-wrapper epl-clearfix">
<div class="property-box property-box-left property-featured-image-wrapper">
<span class="label-featured">Featured</span><ul class="actions"><li><span class="add-fav"><a href="../property/parc-riviera-review/index.html?action=process_simple_like&amp;post_id=117&amp;nonce=fa4a051647&amp;is_comment=0&amp;disabled=true" class="add-fav-button add-fav-button-117" data-nonce="fa4a051647" data-post-id="117" data-iscomment="0" title="Add to Favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></a></span></li></ul> <div class="epl-archive-entry-image">
<a href="../property/parc-riviera-review/index.html">
<div class="epl-blog-image">
<div class="epl-stickers-wrapper">
</div>
<img width="600" height="450" src="../wp-content/uploads/2017/09/one-600x450.jpg" class="teaser-left-thumb wp-post-image" alt="" srcset="http://appulse.wpbranch.com/wp-content/uploads/2017/09/one-600x450.jpg 600w, http://appulse.wpbranch.com/wp-content/uploads/2017/09/one-640x480.jpg 640w" sizes="(max-width: 600px) 100vw, 600px" /> </div>
</a>
</div>

</div>
<div class="property-box property-box-right property-content">

<h3 class="entry-title"><a href="../property/parc-riviera-review/index.html">Charming West Beautiful Villa</a></h3>

<div class="property-address">
<a href="../property/parc-riviera-review/index.html">
<div class="adderess"><i class="icon-location-pin"></i> 334, Rock Hill, New York, Mississippi, 12775, USA</div>
</a>
</div>
<div class="entry-content">
<div class="epl-excerpt-content"><p>Lorem Ipsum is simply dummy text of the printing and typesetting&#8230;</p>
</div> </div>

<div class="property-feature-icons">
<span title="Bedrooms" class="icon beds"><span class="icon-value">4</span></span><span title="Bathrooms" class="icon bath"><span class="icon-value">2</span></span><span title="Parking Spaces" class="icon parking"><span class="icon-value">6</span></span><span title="Air Conditioning" class="icon air"></span><span title="Pool" class="icon pool"></span> </div>

<div class="price">
<span class="page-price">$5.550/sq ft</span> </div>
</div>
<div class="xt-epl-price-details"><span class="page-price">$5.550/sq ft</span><a class="btn btn-common xt-epl-details-list" href="../property/parc-riviera-review/index.html">Details</a></div> </div>
</div>
</div>
<div class="loop-footer">
<div class="epl-paginate-default-wrapper epl-clearfix">
<div class="alignleft"></div>
<div class="alignright"></div>
</div> </div>
</div>
</div></div></div></div></section> </div>
</article>
</main>
</div>
<aside id="secondary" class="widget-area col-md-3 col-md-pull-9">
<section id="epl_recent_property-3" class="widget widget_epl_recent_property"><h3 class="widget-title">Recent Listings</h3><div class="epl-property-widget-list-wrapper"><ul>
<li id="post-130" class="epl-widget-list-item epl-widget-status-current">
<a href="../property/northwave-ec/index.html">NorthWave EC</a>
</li>
<li id="post-129" class="epl-widget-list-item epl-widget-status-current">
<a href="../property/24one-residences/index.html">24One Residences</a>
</li>
<li id="post-128" class="epl-widget-list-item epl-widget-status-current">
<a href="../property/kandis-residence/index.html">Kandis Residence</a>
</li>
<li id="post-127" class="epl-widget-list-item epl-widget-status-current">
<a href="../property/park-place-residences-plq/index.html">Park Place Residences @ PLQ</a>
</li>
</ul></div></section><section id="epl_recent_property-4" class="widget widget_epl_recent_property"><h3 class="widget-title">Latest Listings</h3><div class="epl-property-widget-image-wrapper">
<div id="post-130" class="epl-widget epl-listing-widget property-widget-image epl-widget-status-current">
<div class="entry-header">
<div class="epl-archive-entry-image">
<a href="../property/northwave-ec/index.html">
<div class="epl-blog-image">
<img width="150" height="150" src="../wp-content/uploads/2017/09/six-150x150.jpg" class="teaser-left-thumb wp-post-image" alt="" srcset="http://appulse.wpbranch.com/wp-content/uploads/2017/09/six-150x150.jpg 150w, http://appulse.wpbranch.com/wp-content/uploads/2017/09/six-100x100.jpg 100w" sizes="(max-width: 150px) 100vw, 150px" /> </div>
</a>
</div>
</div>
<div class="entry-content">
<h5 class="property-heading"><a href="../property/northwave-ec/index.html">Charming West Beautiful Villa</a></h5>

<div class="property-address">
<div class="property-meta street-name"> 215 Terry Lane </div>
</div>
</div>
</div>
<div id="post-129" class="epl-widget epl-listing-widget property-widget-image epl-widget-status-current">
<div class="entry-header">
<div class="epl-archive-entry-image">
<a href="../property/24one-residences/index.html">
<div class="epl-blog-image">
<img width="150" height="150" src="../wp-content/uploads/2017/09/five-150x150.jpg" class="teaser-left-thumb wp-post-image" alt="" srcset="http://appulse.wpbranch.com/wp-content/uploads/2017/09/five-150x150.jpg 150w, http://appulse.wpbranch.com/wp-content/uploads/2017/09/five-100x100.jpg 100w" sizes="(max-width: 150px) 100vw, 150px" /> </div>
</a>
</div>
</div>
<div class="entry-content">
<h5 class="property-heading"><a href="../property/24one-residences/index.html">Charming West Beautiful Villa</a></h5>

<div class="property-address">
<div class="property-meta street-name"> 935 Abia Martin Drive </div>
</div>
</div>
</div>
<div id="post-128" class="epl-widget epl-listing-widget property-widget-image epl-widget-status-current">
<div class="entry-header">
<div class="epl-archive-entry-image">
<a href="../property/kandis-residence/index.html">
<div class="epl-blog-image">
<img width="150" height="150" src="../wp-content/uploads/2017/09/four-150x150.jpg" class="teaser-left-thumb wp-post-image" alt="" srcset="http://appulse.wpbranch.com/wp-content/uploads/2017/09/four-150x150.jpg 150w, http://appulse.wpbranch.com/wp-content/uploads/2017/09/four-100x100.jpg 100w" sizes="(max-width: 150px) 100vw, 150px" /> </div>
</a>
</div>
</div>
<div class="entry-content">
<h5 class="property-heading"><a href="../property/kandis-residence/index.html">Charming West Beautiful Villa</a></h5>

<div class="property-address">
<div class="property-meta street-name"> 3336 Rosewood Lane </div>
</div>
</div>
</div>
<div id="post-127" class="epl-widget epl-listing-widget property-widget-image epl-widget-status-current">
<div class="entry-header">
<div class="epl-archive-entry-image">
<a href="../property/park-place-residences-plq/index.html">
<div class="epl-blog-image">
<img width="150" height="150" src="../wp-content/uploads/2017/09/three-150x150.jpg" class="teaser-left-thumb wp-post-image" alt="" srcset="http://appulse.wpbranch.com/wp-content/uploads/2017/09/three-150x150.jpg 150w, http://appulse.wpbranch.com/wp-content/uploads/2017/09/three-100x100.jpg 100w" sizes="(max-width: 150px) 100vw, 150px" /> </div>
</a>
</div>
</div>
<div class="entry-content">
<h5 class="property-heading"><a href="../property/park-place-residences-plq/index.html">Charming West Beautiful Villa</a></h5>

<div class="property-address">
<div class="property-meta street-name"> 3303 Geneva Street </div>
</div>
</div>
</div>
<div id="post-126" class="epl-widget epl-listing-widget property-widget-image epl-widget-status-current">
<div class="entry-header">
<div class="epl-archive-entry-image">
<a href="../property/the-morris-residences-review/index.html">
<div class="epl-blog-image">
<img width="150" height="150" src="../wp-content/uploads/2017/09/two-150x150.jpg" class="teaser-left-thumb wp-post-image" alt="" srcset="http://appulse.wpbranch.com/wp-content/uploads/2017/09/two-150x150.jpg 150w, http://appulse.wpbranch.com/wp-content/uploads/2017/09/two-100x100.jpg 100w" sizes="(max-width: 150px) 100vw, 150px" /> </div>
</a>
</div>
</div>
<div class="entry-content">
<h5 class="property-heading"><a href="../property/the-morris-residences-review/index.html">Charming West Beautiful Villa</a></h5>

<div class="property-address">
<div class="property-meta street-name"> 290 Monticello </div>
</div>
</div>
</div>
</div></section><section id="epl_contact_capture-1" class="widget widget_epl_contact_capture"><h3 class="widget-title">Contact Form</h3><div class="epl-contact-capture-form"> <div class="epl-contact-capture-form-desc">
</div>
<div class="epl_form_builder_form_container row">
<form action="#" id="" class="" enctype="" method="POST" name="">
<div id="" class="col-1 epl-inner-div">
<span class="epl_form_builder_section_label">
</span>
<span class="epl_form_builder_section_help">
</span>
<div class="epl_form_builder_section_fields">
<div class="epl_form_builder_field_container col-md-12">
<span class="epl_form_builder_label_container col-md-12 epl_form_builder_label_container_text">
<label class="epl_form_builder_label col-md-12 epl_form_builder_label_text">First Name
</label>
</span>
<input name="epl_contact_first_name" id="epl_contact_first_name" type="text" data-default="on" value="" class="epl_form_builder_field col-md-12 epl_form_builder_field_text" />
</div>
<div class="epl_form_builder_field_container col-md-12">
<span class="epl_form_builder_label_container col-md-12 epl_form_builder_label_container_text">
<label class="epl_form_builder_label col-md-12 epl_form_builder_label_text">Last Name
</label>
</span>
<input name="epl_contact_last_name" id="epl_contact_last_name" type="text" data-default="on" value="" class="epl_form_builder_field col-md-12 epl_form_builder_field_text" />
</div>
<div class="epl_form_builder_field_container col-md-12">
<span class="epl_form_builder_label_container col-md-12 epl_form_builder_label_container_email">
<label class="epl_form_builder_label col-md-12 epl_form_builder_label_email">Email
</label>
</span>
<input name="epl_contact_email" id="epl_contact_email" type="email" data-default="on" value="" class="epl_form_builder_field col-md-12 epl_form_builder_field_email" />
</div>
<div class="epl_form_builder_field_container col-md-12">
<span class="epl_form_builder_label_container col-md-12 epl_form_builder_label_container_text">
<label class="epl_form_builder_label col-md-12 epl_form_builder_label_text">Phone
</label>
</span>
<input name="epl_contact_phone" id="epl_contact_phone" type="text" data-default="on" value="" class="epl_form_builder_field col-md-12 epl_form_builder_field_text" />
</div>
<div class="epl_form_builder_field_container col-md-12">
<span class="epl_form_builder_label_container col-md-12 epl_form_builder_label_container_text">
<label class="epl_form_builder_label col-md-12 epl_form_builder_label_text">Subject
</label>
</span>
<input name="epl_contact_title" id="epl_contact_title" type="text" data-default="on" value="" class="epl_form_builder_field col-md-12 epl_form_builder_field_text" />
</div>
<div class="epl_form_builder_field_container col-md-12">
<span class="epl_form_builder_label_container col-md-12 epl_form_builder_label_container_textarea">
<label class="epl_form_builder_label col-md-12 epl_form_builder_label_textarea">Message
</label>
</span>
<textarea name="epl_contact_note" id="epl_contact_note" type="textarea" data-default="on" class="epl_form_builder_field col-md-12 epl_form_builder_field_textarea"></textarea>
</div>
<div class="epl_form_builder_field_container col-md-12">
<span class="epl_form_builder_label_container col-md-12 epl_form_builder_label_container_hidden">
</span>
<input name="epl_contact_listing_id" id="epl_contact_listing_id" type="hidden" value="0" data-default="on" class="epl_form_builder_field col-md-12 epl_form_builder_field_hidden" />
</div>
<div class="epl_form_builder_field_container col-md-12">
<span class="epl_form_builder_label_container col-md-12 epl_form_builder_label_container_submit">
</span>
<input name="epl_contact_submit" id="epl_contact_submit" type="submit" value="Submit" data-default="on" class="epl_form_builder_field col-md-12 epl_form_builder_field_submit" />
</div> </div>
</div>
<div class="epl_form_builder_field_container col-md-12">
<span class="epl_form_builder_label_container col-md-12 epl_form_builder_label_container_hidden">
</span>
<input type="hidden" name="epl_form_builder_form_submit" value="true" class="epl_form_builder_field col-md-12 epl_form_builder_field_hidden" id="epl_form_builder_form_submit" />
</div>
<div class="epl_form_builder_field_container col-md-12">
<span class="epl_form_builder_label_container col-md-12 epl_form_builder_label_container_hidden">
</span>
<input type="hidden" name="epl_form_builder_form_action" value="epl_form_builder_contact_capture_form" class="epl_form_builder_field col-md-12 epl_form_builder_field_hidden" id="epl_form_builder_form_action" />
</div>
</form>
</div></div></section> </aside>
</div>
</div>
<footer id="colophon" class="site-footer">
<div class="footer-widgets">
<div class="container">
<div id="footer-wrapper">
<div class="row">
<div id="text-2" class="col-md-3 col-sm-6 col-xs-12 widget widget_text"> <div class="textwidget"><p><img class="alignnone size-full wp-image-552" src="../wp-content/uploads/2018/02/new-logo.png" alt="" width="177" height="80" /><br />
There are many variations of passages of lorem Ipsum available, but the majority have suffered alteration in</p>
</div>
</div><div id="text-3" class="col-md-3 col-sm-6 col-xs-12 widget widget_text"><h4 class="widget-title footer-widget-title">Contact Info</h4> <div class="textwidget"><ul class="address">
<li><a href="#"><i class="icon-location-pin"></i> York Blvd, Los Angeles, US</a></li>
<li><a href="#"><i class="icon-phone"></i> (518) 2014-040 43</a></li>
<li><a href="#"><i class="icon-envelope"></i> <span class="__cf_email__" data-cfemail="bfd7dad3d3d0ffdacccbdecbdac791dcd0d2">[email&#160;protected]</span></a></li>
<li><a href="#"><i class="fa fa-fax"></i> FAX:(123) 123-4567</a></li>
</ul>
</div>
</div><div id="epl_recent_property-2" class="col-md-3 col-sm-6 col-xs-12 widget widget_epl_recent_property"><h4 class="widget-title footer-widget-title">Recent Listings</h4><div class="epl-property-widget-list-wrapper"><ul>
<li id="post-130" class="epl-widget-list-item epl-widget-status-current">
<a href="../property/northwave-ec/index.html">NorthWave EC</a>
</li>
<li id="post-129" class="epl-widget-list-item epl-widget-status-current">
<a href="../property/24one-residences/index.html">24One Residences</a>
</li>
<li id="post-128" class="epl-widget-list-item epl-widget-status-current">
<a href="../property/kandis-residence/index.html">Kandis Residence</a>
</li>
<li id="post-127" class="epl-widget-list-item epl-widget-status-current">
<a href="../property/park-place-residences-plq/index.html">Park Place Residences @ PLQ</a>
</li>
</ul></div></div><div id="appulse_theme_gallery_widget-1" class="col-md-3 col-sm-6 col-xs-12 widget widget_appulse_theme_gallery_widget"><h4 class="widget-title footer-widget-title">IMAGE GALLERY</h4>
<div class="portfolio-wrapper">

<div class="portfolio-list">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mix living-room">
<div class="portfolio-item">
<a class="lightbox" href="../wp-content/uploads/2017/09/four.jpg"><img width="150" height="150" src="../wp-content/uploads/2017/09/four-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="http://appulse.wpbranch.com/wp-content/uploads/2017/09/four-150x150.jpg 150w, http://appulse.wpbranch.com/wp-content/uploads/2017/09/four-100x100.jpg 100w" sizes="(max-width: 150px) 100vw, 150px" /></a>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mix living-room">
<div class="portfolio-item">
<a class="lightbox" href="../wp-content/uploads/2017/09/three.jpg"><img width="150" height="150" src="../wp-content/uploads/2017/09/three-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="http://appulse.wpbranch.com/wp-content/uploads/2017/09/three-150x150.jpg 150w, http://appulse.wpbranch.com/wp-content/uploads/2017/09/three-100x100.jpg 100w" sizes="(max-width: 150px) 100vw, 150px" /></a>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mix living-room">
<div class="portfolio-item">
<a class="lightbox" href="../wp-content/uploads/2017/09/one.jpg"><img width="150" height="150" src="../wp-content/uploads/2017/09/one-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="http://appulse.wpbranch.com/wp-content/uploads/2017/09/one-150x150.jpg 150w, http://appulse.wpbranch.com/wp-content/uploads/2017/09/one-100x100.jpg 100w" sizes="(max-width: 150px) 100vw, 150px" /></a>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mix driveway">
<div class="portfolio-item">
<a class="lightbox" href="../wp-content/uploads/2017/09/old-791038_1280-copy.jpg"><img width="150" height="150" src="../wp-content/uploads/2017/09/old-791038_1280-copy-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="http://appulse.wpbranch.com/wp-content/uploads/2017/09/old-791038_1280-copy-150x150.jpg 150w, http://appulse.wpbranch.com/wp-content/uploads/2017/09/old-791038_1280-copy-100x100.jpg 100w" sizes="(max-width: 150px) 100vw, 150px" /></a>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mix driveway">
<div class="portfolio-item">
<a class="lightbox" href="../wp-content/uploads/2017/09/luxury-home-2412145_1280-copy.jpg"><img width="150" height="150" src="../wp-content/uploads/2017/09/luxury-home-2412145_1280-copy-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="http://appulse.wpbranch.com/wp-content/uploads/2017/09/luxury-home-2412145_1280-copy-150x150.jpg 150w, http://appulse.wpbranch.com/wp-content/uploads/2017/09/luxury-home-2412145_1280-copy-100x100.jpg 100w" sizes="(max-width: 150px) 100vw, 150px" /></a>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mix driveway">
<div class="portfolio-item">
<a class="lightbox" href="../wp-content/uploads/2017/09/architecture-1867187_1280-copy.jpg"><img width="150" height="150" src="../wp-content/uploads/2017/09/architecture-1867187_1280-copy-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="http://appulse.wpbranch.com/wp-content/uploads/2017/09/architecture-1867187_1280-copy-150x150.jpg 150w, http://appulse.wpbranch.com/wp-content/uploads/2017/09/architecture-1867187_1280-copy-100x100.jpg 100w" sizes="(max-width: 150px) 100vw, 150px" /></a>
</div>
</div>
</div>

</div>
</div> </div>
</div>
</div>
</div>
<div class="site-info text-center">
<div class="container">
<div class="row">
<div class="col-sm-12">
<p>© Copyright YourWebsite 2019</p>
</div>
</div>
</div>
</div>
</footer>
</div>
<a href="#" class="back-to-top">
<i class="icon-arrow-up"></i>
</a>

<div class="xt-site-pre-loader">
<div class="sk-folding-cube">
<div class="sk-cube1 sk-cube"></div>
<div class="sk-cube2 sk-cube"></div>
<div class="sk-cube4 sk-cube"></div>
<div class="sk-cube3 sk-cube"></div>
</div>
</div>
<script data-cfasync="false" src="../cdn-cgi/scripts/d07b1474/cloudflare-static/email-decode.min.js"></script><script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"http:\/\/appulse.wpbranch.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}},"cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/contact-form-7/includes/js/scripts972f.js?ver=5.0.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var elmGlobals = {"ajaxurl":"http:\/\/appulse.wpbranch.com\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='../wp-content/plugins/easy-listings-map/public/js/elm-public-globals.min9030.js?ver=1.2.4'></script>
<script type='text/javascript' src='../wp-content/themes/appulse/assets/js/bootstrap.min7433.js?ver=3.3.7'></script>
<script type='text/javascript' src='../wp-content/themes/appulse/assets/js/owl.carousel.min77e6.js?ver=2.2.1'></script>
<script type='text/javascript' src='../wp-content/themes/appulse/assets/js/nivo-lightbox.mine7f0.js?ver=1.3.1'></script>
<script type='text/javascript' src='../wp-content/themes/appulse/assets/js/jquery.counterup.min5152.js?ver=1.0'></script>
<script type='text/javascript' src='../wp-content/themes/appulse/assets/js/waypoints.minb95e.js?ver=2.0.3'></script>
<script type='text/javascript' src='../wp-content/themes/appulse/assets/js/jquery.slicknav.min1c96.js?ver=1.0.10'></script>
<script type='text/javascript' src='../wp-content/themes/appulse/assets/js/bootstrap-select.min35d0.js?ver=1.12.1'></script>
<script type='text/javascript' src='../wp-content/themes/appulse/assets/js/jquery.matchHeight.min.js'></script>
<script type='text/javascript' src='../wp-content/themes/appulse/assets/js/main5152.js?ver=1.0'></script>
<script type='text/javascript' src='../wp-content/plugins/kingcomposer/assets/frontend/js/kingcomposer.min6552.js?ver=2.6.17'></script>
<script type='text/javascript' src='../wp-includes/js/wp-embed.min55fe.js?ver=4.9.5'></script>
<script type='text/javascript' src='../wp-content/themes/appulse/assets/js/jquery.mixitup.mine7f3.js?ver=2.1.7'></script>
<script type='text/javascript' src='../wp-content/themes/appulse/assets/js/dynamic_init5152.js?ver=1.0'></script>
</body>

<!-- Mirrored from appulse.wpbranch.com/simple-listing/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Apr 2018 00:47:38 GMT -->
</html>
