{{#if isAdmin}}
  {{else}}

<footer id="colophon" class="site-footer">
<div class="footer-widgets">
<div class="container">
<div id="footer-wrapper">
<div class="row">
<div id="text-2" class="col-md-3 col-sm-6 col-xs-12 widget widget_text"> <div class="textwidget"><p><img class="alignnone size-full wp-image-552" src="" alt="" width="177" height="80" /><br />
There are many variations of passages of lorem Ipsum available, but the majority have suffered alteration in</p>
</div>
</div><div id="text-3" class="col-md-3 col-sm-6 col-xs-12 widget widget_text"><h4 class="widget-title footer-widget-title">Contact Info</h4> <div class="textwidget"><ul class="address">
<li><a href="#"><i class="icon-location-pin"></i> Ikeja Lagos,Nigeria</a></li>
<li><a href="#"><i class="icon-phone"></i> +2348135867596  </a></li>
<li><a href="#"><i class="icon-envelope"></i> <span class="__cf_email__" data-cfemail="1b737e7777745b7e686f7a6f7e6335787476">[shelter@gmail.com]</span></a></li>
</ul>
</div>
</div><div id="epl_recent_property-2" class="col-md-3 col-sm-6 col-xs-12 widget widget_epl_recent_property"><h4 class="widget-title footer-widget-title">Recent Listings</h4><div class="epl-property-widget-list-wrapper"><ul>
<li id="post-130" class="epl-widget-list-item epl-widget-status-current">
<a href="property/northwave-ec/index.html">NorthWave EC</a>
</li>
<li id="post-129" class="epl-widget-list-item epl-widget-status-current">
<a href="property/24one-residences/index.html">24One Residences</a>
</li>
<li id="post-128" class="epl-widget-list-item epl-widget-status-current">
<a href="property/kandis-residence/index.html">Kandis Residence</a>
</li>
<li id="post-127" class="epl-widget-list-item epl-widget-status-current">
<a href="property/park-place-residences-plq/index.html">Park Place Residences @ PLQ</a>
</li>
</ul></div></div><div id="appulse_theme_gallery_widget-1" class="col-md-3 col-sm-6 col-xs-12 widget widget_appulse_theme_gallery_widget"><h4 class="widget-title footer-widget-title">IMAGE GALLERY</h4>
<div class="portfolio-wrapper">

<div class="portfolio-list">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mix living-room">
<div class="portfolio-item">
<a class="lightbox" href=""><img width="150" height="150" src="" class="attachment-thumbnail size-thumbnail wp-post-image" alt=""  sizes="(max-width: 150px) 100vw, 150px" /></a>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mix living-room">
<div class="portfolio-item">
<a class="lightbox" href=""><img width="150" height="150" src="" class="attachment-thumbnail size-thumbnail wp-post-image" alt=""  sizes="(max-width: 150px) 100vw, 150px" /></a>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mix living-room">
<div class="portfolio-item">
<a class="lightbox" href=""><img width="150" height="150" src="" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" sizes="(max-width: 150px) 100vw, 150px" /></a>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mix driveway">
<div class="portfolio-item">
<a class="lightbox" href="wp-content/uploads/2017/09/old-791038_1280-copy.jpg"><img width="150" height="150" src="" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" sizes="(max-width: 150px) 100vw, 150px" /></a>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mix driveway">
<div class="portfolio-item">
<a class="lightbox" href=""><img width="150" height="150" src="" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" sizes="(max-width: 150px) 100vw, 150px" /></a>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mix driveway">
<div class="portfolio-item">
<a class="lightbox" href=""><img width="150" height="150" src="" class="attachment-thumbnail size-thumbnail wp-post-image" alt=""  sizes="(max-width: 150px) 100vw, 150px" /></a>
</div>
</div>
</div>

</div>
</div> </div>
</div>
</div>
</div>
<div class="site-info text-center">
<div class="container">
<div class="row">
<div class="col-sm-12">
<p>© Copyright YourWebsite 2018</p>
</div>
</div>
</div>
</div>
</footer>
</div>
{{/if}}
<a href="#" class="back-to-top">
<i class="icon-arrow-up"></i>
</a>

<div class="xt-site-pre-loader">
<div class="sk-folding-cube">
<div class="sk-cube1 sk-cube"></div>
<div class="sk-cube2 sk-cube"></div>
<div class="sk-cube4 sk-cube"></div>
<div class="sk-cube3 sk-cube"></div>
</div>
</div>
