<!DOCTYPE html>
<html lang="en-US">

<!-- Mirrored from appulse.wpbranch.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Apr 2018 00:34:01 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>::|-SHELT-|::</title>
<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
<script src="/javascripts/jquery/jquery-3.1.1.min.js"></script>
<link rel='stylesheet' id='dashicons-css' href='/stylesheets/css/dashicons.min55fe.css?ver=4.9.5' type='text/css' media='all' />
<link rel='stylesheet' id='theme-my-login-css' href='/stylesheets/css/plogin/theme-my-login/theme-my-login9d94.css?ver=6.4.10' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css' href='/stylesheets/css/plogin/contact-form-7/includes/css/styles972f.css?ver=5.0.1' type='text/css' media='all' />
<link rel='stylesheet' id='epl-css-lib-css' href='/stylesheets/css/plogin/easy-property-listings/lib/assets/css/style-structuredeae.css?ver=3.2.1' type='text/css' media='all' />
<link rel='stylesheet' id='epl-style-css' href='/stylesheets/css/plogin/easy-property-listings/lib/assets/css/styledeae.css?ver=3.2.1' type='text/css' media='all' />
<link rel='stylesheet' id='easy-listings-map-css' href='/stylesheets/css/plogin/easy-listings-map/public/css/elm-public.min9030.css?ver=1.2.4' type='text/css' media='all' />
<link rel='stylesheet' id='appulse-main-fonts-css' href='https://fonts.googleapis.com/css?family=Roboto%3A400%2C700%7CMontserrat%3A700&amp;subset' type='text/css' media='all' />
<link rel='stylesheet' id='appulse-style-css' href='/stylesheets/css/themes/appulse/style55fe.css?ver=4.9.5' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css' href='/stylesheets/css/bootstrap.min7433.css?ver=3.3.7' type='text/css' media='all' />
<link rel='stylesheet' id='fontawesome-css' href='/stylesheets/css/font-awesome.min1849.css?ver=4.7.0' type='text/css' media='all' />
<link rel='stylesheet' id='line-icons-css' href='/stylesheets/css/line-icons.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='appulse-flaticon-css' href='/stylesheets/fonts/flaticon/font/flaticon.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='owl-carousel-css' href='/stylesheets/css/owl.carousel77e6.css?ver=2.2.1' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-select-css' href='/stylesheets/css/bootstrap-select.min35d0.css?ver=1.12.1' type='text/css' media='all' />
<link rel='stylesheet' id='nivo-lightbox-css' href='/stylesheets/css/nivo-lightbox.mine7f0.css?ver=1.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='slicknav-css' href='/stylesheets/css/slicknav.min1c96.css?ver=1.0.10' type='text/css' media='all' />
<link rel='stylesheet' id='appulse_main_style-css' href='/stylesheets/css/main5152.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='appulse_color-css' href='/stylesheets/css/animate.css' type='text/css' media='all' />
<link rel='stylesheet' id='appulse_color-css' href='/stylesheets/css/color5152.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='appulse_responsive-css' href='/stylesheets/css/responsive5152.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='appulse_responsive-css' href='/stylesheets/css/jquery-ui.css' type='text/css' media='all' />
<link rel='stylesheet' id='appulse_responsive-css' href='/stylesheets/css/dropify.min.css' type='text/css' media='all' />

  <link href="/javascripts/dropzone/dropzone.css" rel="stylesheet">
<style id='appulse_custom_style-inline-css' type='text/css'>

			body {
				color: #333;
				background: #ffffff;
				line-height: 24px;
				font-size: 14px;
			}
			.logo-wrapper {
				margin-top: 0px;
				margin-bottom: 0px;
			}
			.navbar {
			    background: #ffffff;
			}
			.top-bar-bottom {
			    background: #F5F5F5;
			}
			.navbar-default .navbar-nav > li > a {
				color: #666666;
			}
			.navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li > a.active {
				color: #ffffff;
			}
			.navbar-default .navbar-nav > li {
				padding-top: 20px;
				padding-bottom: 20px;
			}
			.xt-page-title-area {
				padding-top: 60px;
				padding-bottom: 60px;
			}
			.dropdown li a {
				color: #333333;
				background: #ffffff;
			}
			.navbar-default .navbar-nav .dropdown,
			.navbar-default .navbar-nav .sup-dropdown {
				width: 234px;
			}
			.xt-page-title-area:before {
				background: rgba(0, 0, 0, 0.7);
			}
			.footer-widgets {
				padding-top: 60px;
			    padding-bottom: 60px;
			    background: #333333;
			}
			.site-footer {
				color: #cccccc;
			}
			.footer-widgets .widget-title {
				color: #eeeeee;
			}
			.site-info {
				padding-top: 20px;
			    padding-bottom: 20px;
			    background-color: #393939;
			}
			.site-info p {
				color: #fff;
			}
			.footer-widgets .widget ul li a,
			.footer-widgets a {
				color: #ffffff;
			}

					.xt-page-title-area {
						background-image: url(/images/banner1.jpg);
					}

</style>
<link rel='stylesheet' id='kc-general-css' href='/stylesheets/css/plogin/kingcomposer/assets/frontend/css/kingcomposer.min6552.css?ver=2.6.17' type='text/css' media='all' />
<link rel='stylesheet' id='kc-animate-css' href='/stylesheets/css/plogin/kingcomposer/assets/css/animate6552.css?ver=2.6.17' type='text/css' media='all' />
<link rel='stylesheet' id='kc-icon-1-css' href='/stylesheets/css/plogin/kingcomposer/assets/css/icons6552.css?ver=2.6.17' type='text/css' media='all' />

<link rel='stylesheet' id='appulse_color-css' href='/stylesheets/style.css' type='text/css' media='all' />


<style type="text/css" id="kc-css-general">.kc-off-notice{display: inline-block !important;}.kc-container{max-width:1170px;}</style>
<style type="text/css" id="kc-css-render">@media only screen and (min-width:1000px) and (max-width:5000px){body.kc-css-system .kc-css-532596{width:50%;}body.kc-css-system .kc-css-702747{width:50%;}body.kc-css-system .kc-css-721880{width:50%;}body.kc-css-system .kc-css-190634{width:50%;}body.kc-css-system .kc-css-250875{width:66.66%;}body.kc-css-system .kc-css-502748{width:33.33%;}body.kc-css-system .kc-css-715483{width:33.33%;}body.kc-css-system .kc-css-479053{width:33.33%;}body.kc-css-system .kc-css-141917{width:33.33%;}}body.kc-css-system .kc-css-114084{background:#f5f5f5;}body.kc-css-system .kc-css-783757{text-align:center;}body.kc-css-system .kc-css-376550{color:#ffffff;background:transparent url(/images/home-back-1-copy.jpg) 0% 0%/cover repeat scroll;}body.kc-css-system .kc-css-85109 p{margin-bottom:0px;}body.kc-css-system .kc-css-388455{padding-bottom:0px;}body.kc-css-system .kc-css-953803{color:#ffffff;background:transparent url(http://appulse.wpbranch.com/wp-content/uploads/2017/09/counter-bg-copy.jpg) 0% 0%/auto repeat scroll;}body.kc-css-system .kc-css-198606{background:#f5f5f5;}body.kc-css-system .kc-css-355670 ,body.kc-css-system .kc-css-355670 p{text-align:center;}body.kc-css-system .kc-css-697437{background:#f5f5f5;}@media only screen and (max-width:999px){body.kc-css-system .kc-css-250875{margin-bottom:30px;width:100%;}body.kc-css-system .kc-css-141917{width:100%;}}
</style>
</head>
