<div class="notify-me">
  <div class="inner">
    <span class="fa fa-bell"></span>
  </div>
</div>
<div class="notify-overlay"></div>
<div class="notify-me-form ">
  <div class="cancel"><i class="far fa-times-circle" aria-hidden></i></div>
  <h4>Notify Me</h4>
  <form id="notify" action="index.html" method="post">
     <div class="">
       <label for="firstname">Firstname</label>
       <input type="text" name="firstname" id="firstname" class="required" value="" placeholder="Firstname">
     </div>
     <div class="">
       <label for="lastname" >Lastname</label>
       <input type="text" name="lastname" value="" class="required" id="lastname" placeholder="Lastname">
     </div>
     <div class="">
       <label  for="email">Email address</label>
       <input type="email" name="email" id="email" class="required" value="" placeholder="Email Address">
     </div>
     <div class="">
       <label for="date" >Date of notification</label>
       <input type="date" name="date" id="date" value="" class="required" placeholder="Date">
     </div>
     <div class="">
       <label for="city">City to be notify</label>
       <input type="text" name="city" value="" id="city" class="required"  placeholder="city">
     </div>
     <button type='submit' name="button"><i class="fa fa-arrow-circle-right"></i></button>
  </form>
</div>
