<!-- Slider Start from here-->
          <section class="kc-elm kc-css-501553 kc_row xt_kc_row_full_width xt_kc_row_no_padding"><div><div class="kc-wrap-columns clearfix"><div class="kc-elm kc-css-106974 kc_col-sm-12 kc_column kc_col-sm-12"><div>
            <div id="extatex-static-carousel-area">
              <div id="extatex-static-carousel-slider" class="carousel slide" data-interval="3000">
              <div class="carousel-inner">
              <div class="item active" style="background-image: url(/images/slide1.jpg);">
              <div class="carousel-caption">
                <h2>Get Started Right <span>Now!</span></h2>
                <h4>Find Your Dream Apartment From Thousands of Listed Apartments!</h4>
                <a class="btn btn-common" href="/property" target="_self" title="View Details">View Details</a>
              </div>
            </div>
            <div class="item " style="background-image: url(/images/slide2.jpg);">
            <div class="carousel-caption">
                <h2>Best Apartments to <span>Sale</span></h2>
                <h4>Get Your Dream Office in Prime Location of City</h4>
                <a class="btn btn-common" href="/property" target="_self" title="View Details" href="simple-listing/index.html" target="_self" title="View Details">View Details</a> </div>
            </div>
<div class="item " style="background-image: url(/images/slide3.jpg);">
<div class="carousel-caption">
<h2>Best Apartments to <span>Rent</span></h2>
<h4>Find Rented Home in Reliable Price With All Facilities</h4>
<a class="btn btn-common" href="simple-listing/index.html" target="_self" title="View Details" href="simple-listing/index.html" target="_self" title="View Details" href="simple-listing/index.html" target="_self" title="View Details">View Details</a> </div>
</div>
<ol class="carousel-indicators">
<li data-target="#extatex-static-carousel-slider" data-slide-to="0" class="active"></li>
<li data-target="#extatex-static-carousel-slider" data-slide-to="1" class=""></li>
<li data-target="#extatex-static-carousel-slider" data-slide-to="2" class=""></li>
</ol>
<a class="left carousel-control" href="#extatex-static-carousel-slider" role="button" data-slide="prev"><i class="icon-arrow-left"></i></a>
<a class="right carousel-control" href="#extatex-static-carousel-slider" role="button" data-slide="next"><i class="icon-arrow-right"></i></a>
</div>
</div>
</div>
</div></div></div></div></section>
