<div class="xt-page-title-area">
<div class="xt-page-title">
<div class="container">
<h1 class="entry-title">404</h1>
</div>
</div>
<div class="xt-breadcrumb-wrapper">
<div class="container">
<nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><div class="xt-breadcrumb"><ul class="trail-items" itemscope itemtype="http://schema.org/BreadcrumbList"><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="trail-item trail-begin"><a href="http://appulse.wpbranch.com/" rel="home"><span itemprop="name">Home</span></a><meta itemprop="position" content="1" /></li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="trail-item trail-end"><span itemprop="name">404 Not Found</span><meta itemprop="position" content="2" /></li></ul></div></nav> </div>
</div>
</div>
<div id="content" class="site-content container">
<div class="appulse-main-content-inner">
<div id="primary" class="content-area col-md-8 col-md-offset-3">
<main id="main" class="site-main" role="main">
<section class="error-404 not-found">
  <div class="alert alert-warning center" role="alert">
    <h3 class="page-title">Oops! That page can&rsquo;t be found.</h3>
  </div>

<div class="page-content text-center">
<p>It looks like nothing was found at this location. Maybe try one of the links below or a search?</p>
<div class="xt-back-top-home-btn">
<a class="btn btn-common" href="/">Back to home</a>
</div>
</div>
<div class="widget-area row">
<div class="col-md-4 widget_search">
<form role="search" method="get" class="search-form" action="http://appulse.wpbranch.com/">
<label>
<span class="screen-reader-text">Search for:</span>
<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
</label>
<input type="submit" class="search-submit" value="Search" />
</form> </div>
<div class="col-md-4">
<div class="widget widget_recent_entries"> <h2 class="widget-title">Recent Posts</h2> <ul>
  {{#each properties}}
  <li>
    <a href="/property/{{id}}">{{property_title}}</a>
  </li>
  {{/each}}
</ul>
</div> </div>
<div class="col-md-4">
<div class="widget widget_categories">
<h2 class="widget-title">Categories</h2>
<ul>
<li class="cat-item cat-item-4"><a href="/property/category/one-room-apartment">One room Apartment</a> 
</li>
<li class="cat-item cat-item-3"><a href="/property/category/two-room-apartment">Two room Apartment</a>
</li>
<li class="cat-item cat-item-5"><a href="/property/category/three-room-apartment">Three room Apartment</a>
</li>
<li class="cat-item cat-item-2"><a href="/property/category/self contain">Self contin</a>
</li>
<li class="cat-item cat-item-6"><a href="/property/category/flat">Flat</a>
</li>
<li class="cat-item cat-item-6"><a href="/property/category/hall">Hall</a>
</li>
<li class="cat-item cat-item-6"><a href="/property/category/shop">Shop</a>
</li>
</ul>
</div>
</div>
</div>
</section>
</main>
</div>
</div>
</div>
