<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="jumbotron">

       <div class="subscribe">
         <div class="sub-head">
           <h4>&#x20A6;3000</h4>
           <h5>7 space/6 month</h5>
         </div> 
         <div class="sub-body">
           subscibe for more now...<br>
           <button type="button" class="btn btn-color" name="button">Subscribe</button>
         </div>
       </div>
     </div>
       <br>
       <br>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="jumbotron">

       <div class="subscribe">
         <div class="sub-head">
           <h4>&#x20A6;5000</h4>
           <h5>10 space/6 month</h5>
         </div>
         <div class="sub-body">
           subscibe for more now...<br>
           <button type="button" class="btn btn-color" name="button">Subscribe</button>
         </div>
       </div>
     </div>
       <br>
       <br>
    </div>
  </div>
</div>
