<div class="notify-overlay"></div>
<div class="container">
	<div class="row">
	<div class="col-lg-4 col-sm-12 col-xs-12 col-lg-offset-2 request-info card-shadow">
		<div class="heading" style="width:100%;margin:1px;padding:20px;background:#222;color:#fff">
			<h5>Your request has been Recived and being proceseed.We will get back to you soon</h5>
			<div class="cancel"><i class="far fa-times-circle" aria-hidden></i></div>
		</div>
		<div class="card-shadow" style="background:#fff">
			<h4>Contact Tola</h4>
			<img src="/images/img2-1.jpg" alt=""><br>
			<span>Phone Number</span>::<i class="fa fa-phone" aria-hidden>09074874847</i><br>
			<span>Email Address</span>::<i class="fa fa-phone" aria-hidden>shelt@mail.com</i>

		</div>
		<div class="card-shadow" style="background:#fff">
			<h4>Contact Jane</h4>
			<img src="/images/img3-1.jpg" alt=""><br>
			<span>Phone Number</span>::<i class="fa fa-phone" aria-hidden>09074874847</i><br>
			<span>Email Address</span>::<i class="fa fa-phone" aria-hidden>shelt@mail.com</i>
		</div>
	</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-lg-6 col-sm-12 col-lg-offset-3 card-shadow">
			<div class="">
				<h4>SEND REQUEST</h4>
				<p>Please fill this form befor sending request</p>
			</div>
			<div class="">
				<form class="" action="" id="request-form" method="post">
					<div class="loader"></div>
					<div class="overlay"></div>
					<div class="form-g">
						<label for="fullname">Fullname <span class="mark-important">*</span></label>
						<input type="text" id="fullname" class="form-control required" placeholder="fullname" name="fullname" value="">
					</div>
					<div class="form-g">
						<label for="phoneNo">Phone Number <span class="mark-important">*</span></label>
						<input type="number" id="phoneNo" class="form-control required" placeholder="Phone Number" name="phoneNo" value="">
					</div>
					<input type="hidden" name="type" value="land">
					<div class="form-g">
						<label for="other-phoneNo">Other Phone Number</label>
						<input type="number" id="other-phoneNo" class="form-control" placeholder="Alternative Phone Number" name="otherPhoneNo" value="">
					</div>
					<input type="hidden" name="type" value="see-before">
					<div class="form-g  epl-search-row-select ">
						<label for="">Location <span class="mark-important">*</span></label>
						<select class="in-field field-width required" name="location">
							<option value="">Choose location</option>
							{{> states}}
						</select>
					</div>
				 <input type="hidden" name="land_id" value="{{land_id}}">
					<div class="form-g">
						<label for="email">Email Address <span class="mark-important">*</span></label>
						<input type="email" class="form-control required" id="email" name="email" placeholder="example@mail.com" value="">
					</div>
					<br>
					<input type="submit" name="" class="btn btn-sm" value="SEND REQUSET">
				</form>
			</div>
		</div>
	</div>
</div>
</div>

<br><br>
